{% extends "admin/panel.html" %}

{% block title %}Добавление задания{% endblock %}

{% block header %}
    <h1>Добавить задание по предмету "{{ {"physic":"Физика","math":"Математика"}[subject] }}"</h1>
{% endblock %}
{% block main %}
    <h2>Заполните формы</h2>
    <form method="post" action="/admin/add_exersize/end">
        <label>Класс/курс</label><select name="class">
            {% for i in (9,10,11,1,2,3,4,5,6) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <label>Тема</label><select name="theme">
            {% for i in (("Механика","МКТ и Термодинамика","Электромагнетизм","Квантовая") if subject=="physic" else ("Алгебра","Геометрия","Вероятность и Статистика")) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <label style="font-family:'Courier New', Courier, monospace">
            Введите задание:
        </label><input type="text" name="exersize" required><br>
        <label style="font-family:'Courier New', Courier, monospace">
            Введите ответ:&nbsp;&nbsp;
        </label><input type="text" name="answer" required><br>
        <input type="submit" value="Добавить">
    </form>
{% endblock %}