{% extends "base.html" %}

{% block title %}Админ панель{% endblock %}
{% block header %}
    <h1>Админ-панель</h1>
    <p>В разработке: добавить задание, составить тест, посмотреть статистику</p>
{% endblock %}
{% block main %}
    <h2>Добавить задание</h2>
    <form method="post" action="/admin/add_exersize">
        <label>Физика</label><input type="radio" name="subject" value="physic" checked>
        <label>Математика</label><input type="radio" name="subject" value="math">
        <input type="submit" value="Добавить">
    </form><hr>
    <h2>Составить тест</h2>
    <form method="post" action="/admin/test">
        <label>Физика</label><input type="radio" name="subject" value="physic">
        <label>Математика</label><input type="radio" name="subject" value="math">
        <label>Гибрид</label><input type="radio" name="subject" value="gibrid" checked><br>
        <label>Для </label><select name="class">
            {% for i in (9,10,11,1,2,3,4,5,6) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><label> класса</label><br>
        <input type="submit" value="Составить">
    </form><hr>
    <h2><a href="/admin/statistic">Посмотреть статистику</a></h2><hr>
{% endblock %}
{% block footer %}
    <a href="/">Главная</a>|<a href="/login">Вход</a>
{% endblock %}