{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block header %}<h1>Регистрация</h1>{% endblock %}
{% block main %}
    <form method="post" action="/registration/end" class="center">
        <input type="text" name="first_name" placeholder="Ваше имя" required>
        <input type="text" name="last_name" placeholder="Ваша фамилия" required>
        <input type="email" name="email" placeholder="Ваш email" required><br>
        <label style="font-family:'Courier New', Courier, monospace">
            Класс/курс:
        </label>
        <select name="class">
            {% for i in (9,10,11,1,2,3,4,5,6) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <label style="font-family:'Courier New', Courier, monospace">
            Физика: 
        </label><input type="checkbox" name="physic" value="True">
        <label style="font-family:'Courier New', Courier, monospace">
            Математика: 
        </label><input type="checkbox" name="math" value="True"><br>
        <button type="submit">"Отправить</button>
    </form>
{% endblock %}
{% block footer %}
    <a href="/">Главная</a>
{% endblock %}