{% extends "base.html" %}

{% block title %}Teacher{% endblock %}

{% block header %}<h1>Физика и математика</h1>{% endblock %}
{% block main %}<h2>Приветствую, это веб приложение для помощи учителям физики и математики</h2>{% endblock %}
{% block footer %}
    <h3>Оставить отзыв: +7(981)980-15-73 ИЛИ step.harch.2214@mail.ru</h3>
    <a href="/registration">Регистрация</a>|
    <a href="/login">Вход</a>|
    <a href="https://vk.com/club237310637?trackcode=655baa35RtzuL_zfAnoviQca2XkKhHKdfJ4z7i9zzhIV_89fbUyCtyzkN89qBhOLHBbYYwOya5Vwg2-au8oAUno&from=groups" target="_blank">
        ВК
    </a>
{% endblock %}
