{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block header %}<h1>Регистрация</h1>{% endblock %}
{% block main %}
    <form method="post" action="/registration/end">
        <label style="font-family:'Courier New', Courier, monospace">Имя: &nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" name="name"><br>
        <label style="font-family:'Courier New', Courier, monospace">Фамилия: </label><input type="text" name="surname"><br>
        <label style="font-family:'Courier New', Courier, monospace">email: &nbsp;&nbsp;</label><input type="email" name="email"><br>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}
{% block footer %}
    <a href="/">Главная</a>
{% endblock %}