{% extends "base.html" %}

{% block title %}Начало{% endblock %}

{% block header %}<h1>Начало</h1>{% endblock %}
{% block main %}
    {% if validate %}
        {% if admin %}
            <h2>Вы админ</h2>
            <a href="/admin">Админ панель</a>|
        {% endif %}
        <a href="/test">Пройти тест</a>|
        <a href="/login">Войти</a>
    {% else %}
        <h2>Вас нет в системе|<a href="/registration">Регистрация</a></h2>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}